/*
*	Accordion
*/
.accordion {
    list-style: none;
    width: 250px;
    margin: auto;
    padding-left: 0;
    padding-bottom: 10px;
    float: left;
}
.accordion li {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}
.accordion .acc-header {
    width: 250px;
    height: auto;
    padding: 3px;
    padding-left: 0;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.accordion .acc-header .head {
    text-decoration: none;
    padding: 3px;
    display: inline;
}
.accordion .acc-header a.arrow {
    float: right;
    margin: 0;
    margin-top: -2px;
    margin-right: 1%;
    display: inline
}

.accordion .content {
    display: none;
    padding: 5px;
    border-left-style: solid;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-bottom-width: 1px;
}
.accordion .content p {
    margin: 0;
    float: left;
}

.accordion .content ul {
    list-style: none;
    padding-left: 5px;
}

.accordion .content img {
    float: left;
    max-width: 40%;
    max-height: 40%;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
}
.accordion .content img.full {
    float: none;
    max-width: 90%;
    max-height: 90%;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
}
.accordion .content .youtube {
    margin-left: 3px;
    width: 24%;
    height: 24%;
}

/*
* Side Nav Accordion
*/
.sidebar-nav ul.accordion div.acc-header {
    border-color: #585858;
    background-color: #000000;
}

.sidebar-nav ul.accordion div.acc-header:hover {
    background-color: rgba(51,51,51,1);
    color: #fff;
}

.sidebar-nav ul.accordion div.acc-header .head {
    color: #999999;
}

.sidebar-nav ul.accordion div.acc-header .arrow {
    color: #999999;
}
.sidebar-nav ul.accordion div.content {
    border-color: rgba(255,255,255,0.2);
}
.sidebar-nav ul.accordion div.content p {
    color: rgba(255,255,255,0.2);
}
.sidebar-nav ul.accordion div.content img {
    border-color: rgba(255,255,255,0.2);
}
