@import url("fonts.css");

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .content .thumbnail {
    margin: 0 auto;
    height: auto;
    max-width: 40%;
  }
 }

@media (max-width: 767px) {
  .content .thumbnail{
    margin: 0 auto;
    height: auto;
    max-width: 80%;
  }

}

body {
  background: #f2f2f2;
}

.wrapper {
  height: 100vh;
  position: relative;
}

.row {
  margin-top: 100px;
}

.content h3 {
  text-align: center;
  font-family: "pantonblack_caps";
}

.content p {
  font-size: 1.2em;
  font-family: 'open_sansregular';
  text-align: justify;
  padding-left: 20px; padding-right: 20px;
}

.content .btn {
  margin: 0 auto;
}

.content .thumbnail #alert-icon {
  max-width: 30%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
