@import url("fonts.css");

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	margin-top: 25px;
	margin-bottom: 50px;
	background: none;
}

h1,h2,h3,h4 {
  font-family: "pantonblack_caps";
}

.full {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container #img {
	background: url("../images/iphone6force_home.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Media Queries */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 768px) {
  .landing .title h1{
    font-size: 6em;
    text-align: center;
    margin-bottom: 15px;
  }

  .landing .title p{
    font-size: 1em;
    margin-bottom: 50px;
    text-align: justify;
    font-family: 'open_sansregular';
  }


  .landing .title .phone {
    margin: 40px auto;
    display: block;
    height:80vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-image:url("../images/iphone6force_home.png");
  }

  .landing .title .itunesLink {
    width: 70%;
    height: 3em;
    border: solid white 3px;
    border-radius: 5px;

    background-color: transparent;

    color: white;
    font-weight: 400;
    font-size: 1.5em;
    font-family: 'pantonlight_caps';
  }

  .landing .title .itunesLink:hover {

    border: solid #5bace6 3px;
    background-color: white;
    color: #5bace6
  }

  .landing .title #version{
    margin-top: 15px;
    text-align: center;

      font-family: 'open_sanslight';
      font-style: italic;
      font-weight: 100;
      font-size: 1.2em;
      color: white;
  }

    .landing .title .icon {
      display:none;
    }

}

@media (max-width: 768px) {
  .landing .title h1{
    font-size: 4em;
    text-align: center;
    margin-bottom: 15px;
  }

  .landing .title p{
    font-size: 0.9em;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-family: 'open_sansregular';
  }

  .landing .title .icon {
    height: auto;
    width: 30%;
    display:block;
    margin: 0 auto 25px;
  }


  .landing .title .itunesLink {
    margin-top: 10px;
    height: 50%;
    width:70%;
    border: solid white 3px;
    background-color: transparent;

    color: white;
    font-weight: 400;
    font-size: 1.25em;
    font-family: 'pantonlight_caps';
  }

  .landing .title #version{
    margin-top: 15px;

    text-align: center;

      font-family: 'open_sanslight';
      font-style: italic;
      font-size: 1.2em;
      color: white;
  }

  .landing .title .phone {
    display:none;
  }
}
