/* Import Fonts */
@import url("../fonts.css");


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.nav-wrapper {
  margin-bottom: 0;
}

.header {
  height: 25vh;
  width:100;

  background-image: url("../../images/background-placeholder.jpg");
  background-position: center;
  background-size: cover;
}

.header .header-text {
  margin: 12vh auto;
    font-family: 'pantonblack_caps';
    text-align: center;
    color: inherit;
}

.docu-links {
  padding-left: 50px;
  padding-right: 50px;
  height:94vh;
}

.docu-links .link-header {
  text-align: center;
  font-family: 'pantonlight_caps';
}

.docu-links .thumbnail {
  background-color: #f5f5f5;
  text-align: center;
}

.docu-links .logo {
  max-width: 30%;
  height:auto;
  margin-top:30px;
}

.docu-links .row .btn {
    font-family: 'open_sansregular';
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.header {
  height: 50vh;
  width: 100%;

  background-image: url("../../images/background-placeholder.jpg");
  background-position: center;
  background-size: cover;
}

.header .header-text {
  margin: 25vh auto;
    font-family: 'pantonblack_caps';
    text-align: center;
    color: inherit;
}

.link-header {
  text-align: center;
  font-family: 'pantonlight_caps';
}

.docu-links {
  padding-left: 200px;
  padding-right: 200px;
  height:94vh;
}

.docu-links .thumbnail {
  background-color: #f5f5f5;
}

.docu-links .logo {
  max-width: 30%;
  height:auto;
  margin-top:30px;
}

.docu-links .row .btn {
    font-family: 'open_sansregular';
}

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
